body {
  overflow-y: scroll; /* Always show scrollbar */
}


.shop-main, .no-page-main {
            padding-inline: 100px;
            margin-bottom: 2rem;
            /* background-color: red; */
}

.add-product-main {
    padding-inline: 100px;
    display: grid;
    justify-content: center;
    padding-top: 2rem;
}